@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
  font-family: "Poppins", sans-serif ;
}

div.jumbotron.jumbotron-fluid.bannerDetail {
  object-fit: cover;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
}

div.container.absolute {
  /* position: absolute; */
  margin-top: -10vh;
}
img.rounded.novel {
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.footerDetail.jumbotron.jumbotron-fluid {
  width: 100%;
  height: 50vh;
  margin-bottom: 0;
}

button.ml-4.btn.btn-primary:focus {
  outline: none !important;
  outline-offset: none !important;
}

/* iPad pro */
@media only screen and (max-width: 1024px) {
  div.footerDetail.jumbotron.jumbotron-fluid {
    width: 100%;
    height: 30vh;
    margin-bottom: 0;
  }
}

/* phones */
@media only screen and (max-width: 425px) {
  div.footerDetail.jumbotron.jumbotron-fluid {
    width: 100%;
    height: 80vh;
    margin-bottom: 0;
  }
}