@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body{
  background-color: #f7f7f7;
}

.header-payment{
  height: 40px;
  background-color: #3E5367;
  color: #E7E7E7;
}

.header-payment a{
  color: #E7E7E7;
}

.header-logo-bar .logo{
  justify-content: center;
  align-items: center;
}

.header-logo-bar ul{
  margin-bottom: -5px;
  list-style: none;
  display: flex;
  align-items: center;
}

.header-logo-bar ul li{
  text-align: center;
  padding-right: 20px;
}

.header-logo-bar .top-up{
  justify-content: center;
  align-items: center;
}

.header-logo-bar .top-up span{
  font-size: 1.5em;
  color: green;
  text-align: center;
}

.header-logo-bar .top-up p{
  color: green;
}
.header-logo-bar .top-up i{
  color: green;
  font-size: 1.5em;
}

.list-header{
  font-weight: bold;
  background-color: #3E5367;
  color: #f7f7f7;
  font-size: 1.1em;
}

.list-box .list-total{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #e1e1e1;
}

.top-up-box p{
  color: #acacac;
  font-size: smaller;
}

#input-saldo{
  background-color: #e4e4e4;
  border-style: none;
}

.top-up-box .min-nominal{
  color: red;
  font-size: smaller;
}

.top-up-box .methodPay{
  background-color: yellow;
  border-radius: 20px;
  text-align: center;
}

.top-up-box .methodPay:hover{
  border: 1px solid lightgray;
  cursor: pointer;
  font-weight: bold;
}

.modal i{
  font-size: 50px;
  color: green;
}

.modal .modal-debit{
  width: 350px;
  background-color: #3E5367;
  color: #E7E7E7;
}

.modal .modal-debit .container-fluid .title{
  font-size: 1.5em;
}

.modal .modal-debit .container-fluid .title hr{
  border-color: white;
}

.modal .modal-debit .container-fluid .close span{
  color: white;
}

.modal .modal-debit .container-fluid .total{
  font-weight: bolder;
  font-size: 16px;
  color: black;
}

.modal .modal-debit .container-fluid .long-input{
  width: 100%;
}

#payDebitModal{
  z-index: 10000;
}

.method-title{
  font-size: 1.5em;
  text-align: center;
  background-color: #3E5367;
  color: #E7E7E7;
  padding: 12px;
}

.footnote{
  font-size: 0.8em;
}

.history-payment-title{
  font-size: 1.5em;
}

.payment-date{
  background-color: #3E5367;
  color: white;
}

.detail-payment-plus{
  color: green;
}

.detail-payment-min{
  color: red;
}

.shadow{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.hide{
  display: none;
}

@media only screen and (max-width: 768px) {
  .header-logo-bar .logo ul li h4{
    font-size: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .header-logo-bar .logo{
    padding-bottom: 30px;
  }

  .list-box{
    font-size: smaller;
  }

  .top-up-box .btn{
    font-size: smaller;
  }

  #input-saldo{
    font-size: smaller;
  }

  .top-up-box .methodPay{
    font-size: smaller;
  }

  .method-title{
    font-size: 1.1em;
    padding: 8px;
  }
}

@media only screen and (max-width: 320px) {
  .header-logo-bar .logo ul li h4{
    font-size: 17px;
    padding-left: 8px;
  }

  .header-logo-bar .logo ul li img{
    width: 140%;
  }
  
  .modal .modal-debit{
    width: 305px;
  }

  .modal .modal-debit .container-fluid .long-input{
    font-size: smaller;
  }

  .modal .modal-debit .container-fluid .short-input{
    width: 100%;
    font-size: smaller;
  }

  .modal .modal-debit .container-fluid .total{
    font-weight: bolder;
    font-size: 14px;
    color: black;
  }
}
