.jumbotron{
  background-image: url("../components/img/chuttersnap-Y94yKEyNjVw-unsplash.jpg");
  background-size: cover;
}

/* #060b26 */

.jumbotron-text{
  color: black;
  padding-left: 30px;
}

.container-fluid{
  color: black;
}

.recommend-img{
  margin-top: -50px;
  margin-left: 10px;
  padding-bottom: 30px;
}

.smaller-font{
  font-size: small;
}

@media only screen and (max-width: 1024px){
  .asian-box{
    min-height: 320px;
  }
}

@media only screen and (max-width: 425px){
  .jumbotron h1{
    font-size: 35px;
  }

  .jumbotron p{
    background-color: white;
  }

  .recommend-img{
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
  }

  .asian-box-body{
    min-height: 250px;
    min-width: 200px;
  }
}

@media only screen and (max-width: 375px){
  .jumbotron p{
    font-size: 15px;
  }
}