.jumbotron{
  background-image: url("../components/img/chuttersnap-Y94yKEyNjVw-unsplash.jpg");
  background-size: cover;
}

/* #060b26 */

.jumbotron-text{
  color: black;
  padding-left: 30px;
}

.container-fluid{
  color: black;
}

.recommend-img{
  margin-top: -50px;
  margin-left: 10px;
  padding-bottom: 30px;
}

.smaller-font{
  font-size: small;
}

.asian-desc{
  text-align: justify;
}

@media only screen and (max-width: 1024px){
  .asian-box{
    min-height: 300px;
  }

  .asian-desc{
    font-size: 11px;
  }
}

@media only screen and (max-width: 425px){
  .jumbotron h1{
    font-size: 35px;
  }

  .jumbotron p{
    background-color: white;
  }

  .recommend-img{
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
  }

  .asian-box{
    margin-top: 10px !important;
  }

  .asian-box-body{
    min-height: 170px;
    min-width: 100px;
  }

  .asian-desc{
    font-size: 10.4px;
  }

  .asian-title{
    font-size: 16px;
  }
}

@media only screen and (max-width: 375px){
  .jumbotron p{
    font-size: 15px;
  }

  .asian-author{
    font-size: 10px;
  }

  .asian-box-body{
    min-height: 150px;
    min-width: 100px;
  }
  
  .asian-title{
    font-size: 14px;
  }

  .asian-desc{
    display: none;
  }
}

@media only screen and (max-width: 320px){
  .asian-title{
    font-size: 14px;
  }
}